@import './variables';

#main-title,
#main-description {
	color: black;
}

.centered {
			text-align: center !important;
}

.general {
	padding: 7rem 20rem;
	text-align: center;
	height: 70rem;
	
	& h2 {
		color: $color-pink-1;
		margin: 4rem auto;
		font-size: 4.5rem;
	}

	& h4 {
		color: #575757;;
		font-size: 3.5rem;
		margin: 2rem auto;
	}

	& h6 {
		font-size: 2.5rem;
		margin: 2rem auto;
	}

	&-desc {
		font-size: 1.9rem;
		margin: 8rem auto;
		line-height: 27px;
		text-align: left;
		
	}

	&-col-dark {
		background-color: $color-grey-3;
		padding: 7rem;
		text-align: left;
		height: 30rem;
	}

	&-col-light {
		background-color: $color-grey-4;
		padding: 7rem;
		text-align: left;
		height: 30rem;
	}
}

.overview {
	height: 54rem;
	width: 100%;
	margin-top: 5rem;
	margin-bottom: 0 !important;
	padding: 0 20rem;

	&__spec {
		list-style: none;
		margin: 3rem auto;
		& li {
			display: inline-block;
		}
		& li:not(:last-child) {
			border-right: 2px solid $color-pink-1;
			padding-right:1rem;
		}
	}

	&__text {
		padding-top: 10rem;
		height: 100%;

		& p {
			font-size: 1.6rem;
			margin: 4rem auto;
		}
	}

	&__image {
		height: 100%;
		text-align: center;
		position: relative;
		& img {
			display: block;
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}

}

.project__brief {
	background-color: $color-grey-4;
	width: 100%;
	padding: 7rem 20rem;
	margin-top: 0;
	
	& h4 {
		font-size: 1.7rem;
	}
	& p {
		font-size: 1.4rem;
	}
}

.research {
	// margin-top: 8rem !important;
	height: 100rem;

	&-col {
	background-color: $color-grey-4;
	height: 30rem;
	padding: 7rem 4rem;
	}
}

.target {
	// margin-top: 8rem;
}

.persona {
	height: 80rem;
	font-size: 1.6rem;
	margin-bottom: 12rem;
	width: 100%;
	padding: 5rem 20rem;
	
	

	& h2 {
		font-size: 3.5rem;
		color: #575757;
	}
	& h4 {
		font-size: 2.5rem;
		margin-bottom: 2rem;
		
	}

	&__card {
		height: 100%;
		padding: 5rem;
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		gap: 4rem;
		justify-items: flex-start;

		&__info {
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;

			& img {
				display: block;
				height: 100%;
				width: 90%;
				margin-right: 3rem;
			}
		}

		&__name {
			width: 100%;
		}
	}

}

.process {
	height: 140rem;
	margin-bottom: 8rem;
	padding: 0 20rem;

	& img {
		display: block;
		width: 80%;
		height: auto;
		margin: 5rem auto;
	}

	&__sketch {
		height: 50rem;
	}

	&__sketch__image{
		height: 40rem;
		
		& img {
			height: 100%;
		}
	}
}

.engage {
	height: 75rem;
	margin-bottom: 8rem;
	& h5 {
		color: $color-pink-1;
		font-size: 3rem;
		margin-bottom: 6rem;
	}
	&__image img {
		display: block;
	}
}

.wireframes {
	width: 100%;
	padding: 0 20rem;
	
	& h4 {
		font-size: 3.5rem;
		margin-bottom: 8rem;
	}

	&__image {
		display: block;
		width: 100%;
		height: auto;
		margin-bottom: 8rem;
	}
}

.iterations {
	width: 100%;
	padding: 0 20rem;
	margin-bottom: 8rem;

	& h4 {
		font-size: 3.5rem;
		margin-bottom: 4rem;
	}

	& h6 {
		font-size: 2.5rem;
		margin-bottom: 6rem;
	}

	&__task {
		height: 50rem;
	}

}

.architecture {
	width: 100%;
	padding: 0 20rem;
	margin-bottom: 8rem;
	& h4 {
		font-size: 3.5rem;
		margin-bottom: 4rem;
	}

	& img {
		display: block;
		width: 100%;
		height: auto;
		margin: 8rem auto;
	}
}

.final {
	width: 100%;
	padding: 5rem 20rem;
	height: 50rem;
	margin-bottom: 8rem;
	background-color: $color-grey-4;
	& h6 {
		font-size: 2rem;
		margin-bottom: 6rem;
	}

	&__text {
		font-size: 2rem;
		width: 70%;
		text-align: left;
		margin: 0 auto;
	}
}

.functions {
	width: 100%;
	padding: 5rem 20rem;
	color: #575757;

	& p {
		font-size: 1.6rem;
		text-align: left;
	}

	& .col-1-of-3 {
		padding: 0 5rem;
	}
}

.steps {
	height: 220rem;
	width: 100%;
	padding: 0 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 8rem;

	&__compo {
		width: 80%;
		height: 70rem;
		display: flex;
		align-items: center;
		margin-bottom: 5rem;

		&__image {
			
			width: 40%;
			height: 100%;
			margin-right: 8rem;

			& img {
				display: block;
				width: 100%;
				height: auto;
			}
		}

		&__text {
			width: 40%;

			&-header {
				font-size: 4rem;
			}

			&-para {
				font-size: 2rem;
			}
		}
	}
}

.app-details {
	background-color: $color-grey-6;
	height: 250rem;
	width: 100%;
	padding: 15rem 20rem 5rem 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 8rem;

	&__compo {
		width: 80%;
		height: 70rem;
		display: flex;
		align-items: flex-end;
		margin-bottom: 7rem;

		&__image {
			
			width: 40%;
			height: 100%;
			margin-right: 4rem;

			& img {
				display: block;
				width: 100%;
				height: auto;
			}
		}

		&__text {
			width: 40%;
			margin: 0 5rem;
			
			&-header {
				font-size: 3.5rem;
				font-weight: bold;
				margin-bottom: 2rem;
			}

			&-para {
				font-size: 2rem;
				font-weight: normal;
				margin-bottom: 3rem;
			}
		}
	}
}

.user-flow {
	height: 170rem;
	width: 100%;
	padding: 15rem 20rem 5rem 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 8rem;
}

.conclusion {
	background-color: $color-grey-6;
	width: 100%;
	height: 70rem;
	padding: 20rem 20rem;
	
	

	& h2 {
		color: $color-pink-1;
		font-size: 4rem;
		font-weight: bold;
		margin-bottom: 8rem;
		text-align: center;
	}

		&__text {
			

			& h4 {
				display: block;
				color: #181818;
				font-size: 2.5rem;
				font-weight: 600;
				margin-bottom: 4rem;
				
			}

			& p {
				font-size: 2rem;
				margin-bottom: 2rem;	
				
			}
	 }
}


