html {
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;

	@media only screen and (max-width: 1023px) {
		font-size: 56.25%;
	}

	@media only screen and (max-width: 767px) {
		font-size: 50%;
	}
}


