@import './components';
@import './grid';
@import './variables';
@import './carousel';
@import './typography';
@import './footer';
@import './header';
@import './utilities';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
		box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media only screen and (max-width: 1023px) {
		font-size: 56.25%;
	}

	@media only screen and (max-width: 767px) {
		font-size: 50%;
	}

	@media only screen and (max-width: 500px) {
		font-size: 45%;
	}
}

body {
	width: 100%;
	font-size: 1.8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	

	
	// Desktop large
	@media only screen and (min-width: 1024px) {
		// width: 100vw;
	}

	// // Tablet
	// @media only screen and (max-width: 1023px) {
	// 	width: 100%;
	// }

	// // Mobile
	// @media only screen and (max-width: 767px) {
	// 	width: 100%;
	// }
}

.main__container {
	position: relative;
	width: 1440px;
	display: flex;
	flex-direction: column;
	align-items: center;

	@media only screen and (max-width: 1023px) {
		width: 100%;
	}
}

h1, h2, h3 {
	color: $color-pink-1;
	margin-bottom: 2rem;
}








