.final {
		@include componentColPattern;
		height: 75rem;
		grid-template-rows: 35% 65%;

		
		@media screen and (max-width:768px) {
			height: 120rem;
		}
		

		&__subtitle {
			font-weight: bold;
			font-size: 2rem;
		}

		&--top {
			grid-column: 1 / -1;
			grid-row: 1 / 2;
			text-align: center;
			
		}

		&--bottom {
			grid-column: 1 / -1;
			grid-row: 2 / 3;
			width: 80%;
			display: flex;
			justify-content: space-between;

			@media screen and (max-width:768px) {
				flex-direction: column;
				align-content: center;
				justify-content: center;
			}
			

			&__col {
				width: 47%;
				padding: 3rem;
				@include flexColumn;
				justify-content: flex-start;

				@media screen and (max-width:768px) {
					width: auto;
				}

				&__image {
					
					width: 50%;
					height: 50%;
					margin-bottom: $xs-desktop;

					@media screen and (max-width:768px) {
						width: 150px;
						height: auto;
					}
				}

				&__text {
					width: 70%;

					@media screen and (max-width:768px) {
						width: 40%;
					}
				}
				
			}
		}
}