.persona {
	@include componentColPattern;
	height: 70rem;
	grid-template-rows: 30% 70%;

	
	@media screen and (max-width: 786px) {
		height: 90rem;
	}

	&--top {
		grid-column: 1 / -1;
		grid-row: 1 / 2;	
	}

	&--bottom {
		grid-column: 1 / -1;
		grid-row: 2 / 3;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@media screen and (max-width: 768px) {
			flex-direction: column;
			align-items: center;
		}

		& h3 {
			margin-bottom: $m-desktop;
			text-align: center;
		}

		&__image {
			width: 47%;
			height: 100%;
			background-color: grey;

			@media screen and (max-width: 768px) {
				width: 200px;
				height: 200px;
				margin-bottom: $m-mobile;
			}
		}

		&__text {
			width: auto;
			height: 100%;
			

			&__title {
				font-weight: bold;
				font-size: 2.4rem;
				margin-bottom: $s-desktop;
			}

			&__cols {
				display: flex;
				justify-content: space-between;

				@media screen and (max-width: 768px) {
					flex-direction: column;
					align-items: center;
				}

				
				& h4 {
					font-weight: bold;
					font-size: 1.8rem;
					margin-bottom: $xs-desktop;
				}
				
				&--needs {
					width: 45%;
					margin-bottom: $s-desktop;
				}

				&--goals {
					width: 45%;
					margin-bottom: $s-desktop;
				}
			}
		}
	}
}