.target {
	@include componentColPattern;
	height: 80rem;
	grid-template-rows: 40% 60%;

	@media screen and (max-width: 768px) {
		height: 150rem;
		
		}

	&__text {
		font-size: 1.8rem;
		margin-bottom: $s-desktop;
		
		@media screen and (max-width: 768px) {
			// width: 70%;
		}
	}
	

	&--top {	
		grid-column: 3 / 11;
		grid-row: 1 / 2;
		align-self: center;
		display: flex;
		flex-direction: column;
		align-items: center;

		@media screen and (max-width: 768px) {
				width: 40%;
		}
		
	}
	
	&--bottom {
		grid-column: 1 / -1;
		grid-row: 2 / 3;
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 768px) {
			flex-direction: column;
			justify-content: center;
		}



		&__text {
			font-size: 1.8rem;
			display: block;
			margin: 0 2rem;
		}

		&__title {
			margin-bottom: $xs-desktop;
		}

		& ul {
			list-style-type: square;
		}

		&--tend {
			width: 47%;
			background-color: $color-grey-5;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-shrink: 1;
			padding: 0 8rem;

			@media screen and (max-width: 768px) {
				
				padding: 50px;
				margin: 30px auto;
			}
			
		}

		&--frustrated {
			width: 47%;
			background-color: $color-grey-5;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-shrink: 1;
			padding: 0 8rem;

			@media screen and (max-width: 768px) {
				
				padding: 50px;
				margin: 30px auto;
			}
		
		}
	}
}