.usability {
	@include componentColPattern;
	height: 60rem;
	grid-template-rows: 40% 60%;

	@media screen and (max-width:768px) {
			height: 120rem;
	}

	&__text {
		font-size: 1.8rem;	
	}

	&--top {	
		grid-column: 3 / 11;
		grid-row: 1 / 2;
		align-self: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	
	&--bottom {
		grid-column: 1 / -1;
		grid-row: 2 / 3;
		display: flex;
		justify-content: space-between;

		@media screen and (max-width:768px) {
			flex-direction: column;
			align-items: center;
		}

		&__text {
			display: block;
			margin: 0 2rem;
		}

		&__title {
			margin-bottom: $xs-desktop;
		}

		&--custom {
			width: 47%;
			background-color: $color-grey-6;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-shrink: 1;
			padding: 0 8rem;	

			@media screen and (max-width:768px) {
				margin-bottom: $m-mobile;
				height: 350px;
			}
		}

		&--discover {
			width: 47%;
			background-color: $color-grey-5;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			flex-shrink: 1;
			padding: 0 8rem;

			@media screen and (max-width:768px) {
				margin-bottom: $m-mobile;
				height: 350px;
			}
		}
	}
}