.wireframes {	
	@include PatternCompo12Col;
	height: 80rem;
	grid-template-rows: 30% 70%;
	justify-items: center;
	margin-bottom: $l-desktop;
	

	&--top {
		grid-row: 1 / 2;
		grid-column: 1 / -1;
		width: 50%;
		text-align: center;
		margin-bottom: $m-desktop;
		
	}

	&--bottom {
		grid-row: 2 / 3;
		grid-column: 1 / -1;
		width: 100%;
	}

	&__gallery {
		width: 70%;
		height: 100%;
	}

}