	
.compo__header {
	font-weight: bold;
	font-size: 2.8rem ;
	color: $color-pink-1 !important;
	margin-bottom: $m-desktop;
	margin-top: $m-desktop;
	
}

div[class*="title"] {
	color: $color-grey-1;
	font-weight: bold;
	margin-bottom: $s-desktop;
	
}