@import './variables';
@import './utilities';
@import './mixins';

@import './layout/header';
@import './layout/footer';
@import './layout/container';

@import './components/conclusion';
@import './components/design';
@import './components/final';
@import './components/hero';
@import './components/overview';
@import './components/persona';
@import './components/research';
@import './components/target';
@import './components/usability';
@import './components/carousel';
@import './components/wireframes';
@import './components/keypages';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
		box-sizing: border-box;
}

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
	
	@include flexColumn;

	@media only screen and (max-width: 1200px) {
		font-size: 56.25%;
	}

	@media only screen and (max-width: 1000px) {
		font-size: 50%;
	}
}

body {
	width: 1440px;
	font-size: 1.6rem;
	margin: 0;
	line-height: 3rem;
}

h4 {
	font-size: 2.4rem;
	margin-bottom: $xs-desktop;
}

h2 {
	font-size: 3rem;
	margin-bottom: $s-desktop;
}
