@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@import './variables';



.row {

	// display:flex;
	// flex-wrap:wrap;
	// justify-content: space-between;
	// padding: 20px;
	
		@include clearfix;
    max-width: $grid-width;
    margin: 0 auto;
    &:not(:last-child) {
        margin-bottom: $gutter-horizantal;

        @media only screen and (max-width: 1024px) {
            margin-bottom: $gutter-horizantal-small;
        }

		}

		@media only screen and (max-width: 1024px) {
        max-width: 104rem;
        
		}
				
    @media only screen and (max-width: 900px) {
        max-width: 92rem;
        
		}
		
		@media only screen and (max-width: 768px) {
        max-width: 80rem;
        
		}
		
		@media only screen and (max-width: 425px) {
        max-width: 52rem;
        
		}
		
		@media only screen and (max-width: 320px) {
        max-width: 30rem;
        padding: 0 1rem;
    }

    [class^="col-"] {
        float: left;
        &:not(:last-child) {
        margin-right: $gutter-vertical;

            @media only screen and (max-width: 56.25em) {
                margin-right: 0;
                margin-bottom: $gutter-horizantal-small;
            }
        }

        @media only screen and (max-width: 56.25em) { // tab-port   1em = 16px
            width: 100% !important;
        }
		}
		

    .col-1-of-2 {
				width: calc((100% - #{$gutter-vertical}) / 2);
				
    }
    .col-1-of-3 {
				width: calc((100% - 2 * #{$gutter-vertical}) / 3);
				
    }
    .col-2-of-3 {
				width: calc(2*((100% - 2 * #{$gutter-vertical}) / 3) + #{$gutter-vertical});
				
    }
    .col-1-of-4 {
				width: calc((100% - 3 * #{$gutter-vertical}) / 4);
				
    }
    .col-2-of-4 {
				width: calc(2 * ((100% - 3 * #{$gutter-vertical}) / 4) + #{$gutter-vertical});
				
    }
    .col-3-of-4 {
				width: calc(3 * ((100% - 3 * #{$gutter-vertical}) / 4) + 2 * #{$gutter-vertical});
				
    }

}



// 12-col grid

// @media screen and (min-width:1200px) {
// .col-desk-1 { width: calc((1/12) * 100%); }
// .col-desk-2 { width: calc((2/12) * 100%); }
// .col-desk-3 { width: calc((3/12) * 100%); }
// .col-desk-4 { width: calc((4/12) * 100%); }
// .col-desk-5 { width: calc((5/12) * 100%); }
// .col-desk-6 { width: calc((6/12) * 100%); }
// .col-desk-7 { width: calc((7/12) * 100%); }
// .col-desk-8 { width: calc((8/12) * 100%); }
// .col-desk-9 { width: calc((9/12) * 100%); }
// .col-desk-10 { width: calc((10/12) * 100%); }
// .col-desk-11 { width: calc((11/12) * 100%); }
// .col-desk-12 { width: calc((12/12) * 100%); }
// }

// @media screen and (max-width:600px) {
// .col-mob-1 { width: calc((1/6) * 100%); }
// .col-mob-2 { width: calc((2/6) * 100%); }
// .col-mob-3 { width: calc((3/6) * 100%); }
// .col-mob-4 { width: calc((4/6) * 100%); }
// .col-mob-5 { width: calc((5/6) * 100%); }
// .col-mob-6 { width: calc((6/6) * 100%); }
// }


