.compo__header {
  font-weight: bold;
  font-size: 3rem;
  color: #ff207E !important;
  margin-bottom: 65px !important;
  margin-top: 65px; }

div[class*="title"],
h2[class*="title"] {
  color: #575757;
  font-weight: bold;
  margin-bottom: 15px; }

.header {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  height: 13rem;
  width: 100%;
  font-weight: bold;
  font-size: 1.4rem;
  z-index: 10;
  display: grid;
  grid-template-columns: minmax(5rem, 20rem) 1fr minmax(5rem, 20rem);
  grid-template-rows: 1fr;
  align-items: center; }
  .header__logo {
    height: 40px;
    width: 68px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: start; }
    .header__logo img {
      display: block;
      width: 100%;
      height: 100%; }
  .header__menu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    width: 20%;
    display: flex;
    justify-content: space-between; }
    .header__menu__link {
      color: #070707;
      text-decoration: none;
      text-transform: uppercase;
      display: block; }
    .header__menu__link:visited {
      color: #070707; }
    .header__menu__link:active {
      color: #ff207E; }
    .header__menu__link:hover {
      color: #ff207E; }

.footer {
  background-color: #fc4c95;
  height: 15rem;
  width: 100%;
  display: grid;
  grid-template-columns: minmax(5rem, 20rem) 1fr minmax(5rem, 20rem);
  grid-template-rows: 1fr;
  align-items: center; }
  .footer__email {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: start; }
    .footer__email__link {
      text-decoration: none;
      color: #181818;
      font-size: 2rem;
      font-style: normal; }
      @media only screen and (max-width: 768px) {
        .footer__email__link {
          font-size: 1.4rem; } }
  .footer__social {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    width: 20%;
    display: flex;
    justify-content: space-between; }
    .footer__social__icon {
      display: block;
      width: 2rem;
      height: 2rem;
      color: #787878; }
      @media only screen and (max-width: 768px) {
        .footer__social__icon {
          transform: scale(0.8); } }
    .footer__social__link {
      color: #787878; }

.main__container {
  display: grid;
  grid-template-columns: minmax(5rem, 20rem) 1fr minmax(5rem, 20rem);
  min-height: 100vh; }

.conclusion {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70rem; }
  .conclusion__text {
    width: 70%; }

.design {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 1fr));
  column-gap: 2rem;
  justify-items: center;
  margin-top: 65px;
  height: 180rem;
  grid-template-rows: max-content 1.5fr 2fr; }
  .design h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 15px; }
  .design__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
  .design__logic {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .design__logic__title {
      margin-top: 65px; }
    .design__logic__image {
      width: 100%;
      height: 100%;
      background-color: greenyellow; }
    .design__logic__subtitle {
      margin-bottom: 15px; }
  .design__sketch {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .design__sketch__title {
      margin-top: 130px; }
    .design__sketch__subtitle {
      margin-bottom: 15px;
      width: 70%; }

.final {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 1fr));
  column-gap: 2rem;
  justify-items: center;
  margin-top: 65px;
  height: 75rem;
  grid-template-rows: 35% 65%; }
  .final__subtitle {
    font-weight: bold;
    font-size: 2rem; }
  .final--top {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center; }
  .final--bottom {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    width: 80%;
    display: flex;
    justify-content: space-between; }
    .final--bottom__col {
      width: 47%;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
      .final--bottom__col__image {
        background-color: yellowgreen;
        width: 50%;
        height: 50%;
        margin-bottom: 15px; }

.hero {
  height: 100vh;
  width: 100%;
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: 80% 20%;
  grid-template-columns: minmax(5rem, 20rem) repeat(12, minmax(70px, 1fr)) minmax(5rem, 20rem);
  column-gap: 2rem;
  align-items: center;
  align-content: center; }
  .hero__text {
    height: 100%;
    padding: 8rem 0;
    grid-column: 2 / span 4; }
    .hero__text__title {
      font-size: 3.5rem;
      font-style: normal;
      line-height: 7rem;
      margin-bottom: 50px; }
    .hero__text__subtitle {
      font-size: 2rem;
      margin-bottom: 50px; }
      .hero__text__subtitle--list {
        list-style: none;
        margin: 3rem auto; }
        .hero__text__subtitle--list li {
          display: inline-block; }
        .hero__text__subtitle--list li:not(:last-child) {
          border-right: 2px solid #ff207E;
          padding-right: 1rem; }
    .hero__text__para {
      font-size: 1.4rem;
      width: 100%; }
  .hero__image {
    height: 100%;
    background-color: purple;
    grid-column: 7 / -2; }
  .hero__brief {
    width: 100%;
    height: 100%;
    padding: 5rem 0;
    background-color: #dedede;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: minmax(5rem, 20rem) repeat(12, minmax(1fr, 70px)) minmax(5rem, 20rem);
    column-gap: 2rem;
    align-items: center; }
    .hero__brief__item--title {
      font-weight: bold;
      margin-bottom: 15px; }
    .hero__brief__item-1 {
      grid-column: 2 / span 3; }
    .hero__brief__item-2 {
      grid-column: 5 / span 2; }
    .hero__brief__item-3 {
      grid-column: 7 / span 3; }

.overview {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 1fr));
  column-gap: 2rem;
  justify-items: center;
  margin-top: 65px;
  height: 80rem;
  grid-template-rows: 60% 40%; }
  .overview__text {
    font-size: 1.8rem; }
  .overview--top {
    grid-column: 3 / 11;
    grid-row: 1 / 2;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .overview--bottom {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between; }
    .overview--bottom__text {
      display: block;
      margin: 0 2rem; }
    .overview--bottom__title {
      margin-bottom: 15px; }
    .overview--bottom--problem {
      width: 47%;
      background-color: #f5f5f5;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 1;
      padding: 0 8rem; }
    .overview--bottom--solution {
      width: 47%;
      background-color: #dedede;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 1;
      padding: 0 8rem; }

.persona {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 1fr));
  column-gap: 2rem;
  justify-items: center;
  margin-top: 65px;
  height: 70rem;
  grid-template-rows: 30% 70%; }
  .persona--top {
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
  .persona--bottom {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .persona--bottom__image {
      width: 47%;
      height: 100%;
      background-color: grey; }
    .persona--bottom__text {
      width: 47%;
      height: 100%; }
      .persona--bottom__text__title {
        font-weight: bold;
        font-size: 2.4rem;
        margin-bottom: 50px; }
      .persona--bottom__text__cols {
        display: flex;
        justify-content: space-between; }
        .persona--bottom__text__cols h4 {
          font-weight: bold;
          font-size: 1.8rem;
          margin-bottom: 15px; }
        .persona--bottom__text__cols--needs {
          width: 45%; }
        .persona--bottom__text__cols--goals {
          width: 45%; }

.research {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 1fr));
  column-gap: 2rem;
  justify-items: center;
  margin-top: 65px;
  height: 80rem;
  grid-template-rows: 30% 40% 30%; }
  .research--top {
    grid-column: 3 / 11;
    grid-row: 1 / 2;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .research--middle {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between; }
    .research--middle__col {
      background-color: #dedede;
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 4rem; }
      .research--middle__col__title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 15px;
        color: #fc4c95; }
  .research--bottom {
    grid-column: 3 / 11;
    grid-row: 3 / 4;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .research--bottom__title {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 15px; }

.target {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 1fr));
  column-gap: 2rem;
  justify-items: center;
  margin-top: 65px;
  height: 80rem;
  grid-template-rows: 40% 60%; }
  .target__text {
    font-size: 1.8rem; }
  .target--top {
    grid-column: 3 / 11;
    grid-row: 1 / 2;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .target--bottom {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between; }
    .target--bottom__text {
      font-size: 1.8rem;
      display: block;
      margin: 0 2rem; }
    .target--bottom__title {
      margin-bottom: 15px; }
    .target--bottom ul {
      list-style-type: square; }
    .target--bottom--tend {
      width: 47%;
      background-color: #dedede;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 1;
      padding: 0 8rem; }
    .target--bottom--frustrated {
      width: 47%;
      background-color: #dedede;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 1;
      padding: 0 8rem; }

.usability {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 1fr));
  column-gap: 2rem;
  justify-items: center;
  margin-top: 65px;
  height: 60rem;
  grid-template-rows: 40% 60%; }
  .usability__text {
    font-size: 1.8rem; }
  .usability--top {
    grid-column: 3 / 11;
    grid-row: 1 / 2;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .usability--bottom {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between; }
    .usability--bottom__text {
      display: block;
      margin: 0 2rem; }
    .usability--bottom__title {
      margin-bottom: 15px; }
    .usability--bottom--custom {
      width: 47%;
      background-color: #f5f5f5;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 1;
      padding: 0 8rem; }
    .usability--bottom--discover {
      width: 47%;
      background-color: #dedede;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 1;
      padding: 0 8rem; }

.main-carousel {
  background-color: #d9a4ff;
  width: 70%;
  height: 100%;
  margin: 2rem auto; }

.carousel-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px; }

.flickity-button {
  background: #333; }

.flickity-button:hover {
  background: #ff207E; }
  @media only screen and (max-width: 768px) {
    .flickity-button:hover {
      background: unset; } }

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px; }

/* icon color */
.flickity-button-icon {
  fill: white; }

/* position outside */
.flickity-prev-next-button.previous {
  left: -40px; }

.flickity-prev-next-button.next {
  right: -40px; }

.wireframes {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 1fr));
  column-gap: 2rem;
  justify-items: center;
  margin-top: 65px;
  height: 80rem;
  grid-template-rows: 30% 70%;
  justify-items: center;
  margin-bottom: 130px; }
  .wireframes--top {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 50%;
    text-align: center;
    margin-bottom: 65px; }
  .wireframes--bottom {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    width: 100%; }
  .wireframes__gallery {
    width: 70%;
    height: 100%; }

.keypages {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 1fr));
  column-gap: 2rem;
  justify-items: center;
  margin-top: 65px;
  grid-template-rows: repeat(3, 1fr);
  height: 220rem; }
  .keypages__title {
    grid-column: 1 / -1; }
  .keypages__item {
    width: 100%;
    height: 100rem;
    margin-bottom: 8rem;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .keypages__item__title {
      font-size: 2rem; }
    .keypages__item__text {
      width: 80%;
      margin-bottom: 5rem; }
    .keypages__item__image {
      width: 100%;
      height: 100%;
      background-color: indianred; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 1000px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 500px) {
    html {
      font-size: 45%; } }

body {
  width: 1440px;
  font-size: 1.6rem;
  margin: 0;
  line-height: 3rem; }
