.compo__header {
  font-weight: bold;
  font-size: 2.8rem;
  color: #ff207E !important;
  margin-bottom: 65px;
  margin-top: 65px; }

div[class*="title"] {
  color: #575757;
  font-weight: bold;
  margin-bottom: 50px; }

.header {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  height: 13rem;
  width: 100%;
  font-weight: bold;
  font-size: 1.4rem;
  z-index: 10;
  display: grid;
  grid-template-columns: minmax(5rem, 20rem) 1fr minmax(5rem, 20rem);
  grid-template-rows: 1fr;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .header {
      grid-template-columns: 30px 1fr 30px; } }
  .header__logo {
    height: 40px;
    width: 70px;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: start; }
    @media screen and (max-width: 768px) {
      .header__logo {
        height: 20px;
        width: 30px; } }
    .header__logo img {
      display: block;
      width: 100%;
      height: 100%; }
  .header__menu {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    width: 20%;
    display: flex;
    justify-content: space-between; }
    .header__menu__link {
      color: #070707;
      text-decoration: none;
      text-transform: uppercase;
      display: block; }
    .header__menu__link:visited {
      color: #070707; }
    .header__menu__link:active {
      color: #ff207E; }
    .header__menu__link:hover {
      color: #ff207E; }

.footer {
  background-color: #fc4c95;
  display: grid;
  grid-template-columns: minmax(5rem, 20rem) 1fr minmax(5rem, 20rem);
  height: 15rem;
  width: 100%;
  grid-template-rows: 1fr;
  align-items: center; }
  @media only screen and (max-width: 768px) {
    .footer {
      height: 200px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; } }
  .footer__email {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: start; }
    @media only screen and (max-width: 768px) {
      .footer__email {
        margin-bottom: 50px; } }
    .footer__email__link {
      color: white;
      text-decoration: none;
      font-size: 2rem;
      font-style: normal; }
      @media only screen and (max-width: 768px) {
        .footer__email__link {
          font-size: 1.6rem; } }
  .footer__social {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
    width: 20%;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .footer__social {
        width: 10%; } }
    .footer__social__icon {
      display: block;
      width: 2rem;
      height: 2rem;
      color: #787878; }
      @media screen and (max-width: 768px) {
        .footer__social__icon {
          transform: scale(0.8); } }
    .footer__social__link {
      color: #787878; }

.main__container {
  display: grid;
  grid-template-columns: minmax(5rem, 20rem) 1fr minmax(5rem, 20rem);
  min-height: 100vh; }
  @media screen and (max-width: 768px) {
    .main__container {
      grid-template-columns: 30px 1fr 30px; } }

.conclusion {
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70rem; }
  .conclusion__text {
    width: 70%; }
    @media screen and (max-width: 768px) {
      .conclusion__text {
        width: 40%; } }

.design {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 1fr));
  column-gap: 2rem;
  justify-items: center;
  margin-top: 65px;
  height: 180rem;
  grid-template-rows: max-content 40% 60%;
  margin-bottom: 20rem; }
  @media screen and (max-width: 768px) {
    .design {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-self: center; } }
  .design__title {
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
  .design__logic {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .design__logic {
        width: 80%; } }
    .design__logic__text {
      margin-bottom: 50px;
      font-size: 2rem; }
    .design__logic__image {
      width: 100%;
      height: 100%; }
      @media screen and (max-width: 768px) {
        .design__logic__image {
          width: 50%; } }
  .design__sketch {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem; }
    @media screen and (max-width: 768px) {
      .design__sketch {
        width: 80%; } }
    @media screen and (max-width: 768px) {
      .design__sketch__gallery {
        width: 50%;
        height: auto; } }
    .design__sketch__text {
      margin-bottom: 50px;
      font-size: 2rem;
      width: 70%; }

.final {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 1fr));
  column-gap: 2rem;
  justify-items: center;
  margin-top: 65px;
  height: 75rem;
  grid-template-rows: 35% 65%; }
  @media screen and (max-width: 768px) {
    .final {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-self: center; } }
  @media screen and (max-width: 768px) {
    .final {
      height: 120rem; } }
  .final__subtitle {
    font-weight: bold;
    font-size: 2rem; }
  .final--top {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    text-align: center; }
  .final--bottom {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    width: 80%;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .final--bottom {
        flex-direction: column;
        align-content: center;
        justify-content: center; } }
    .final--bottom__col {
      width: 47%;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start; }
      @media screen and (max-width: 768px) {
        .final--bottom__col {
          width: auto; } }
      .final--bottom__col__image {
        width: 50%;
        height: 50%;
        margin-bottom: 15px; }
        @media screen and (max-width: 768px) {
          .final--bottom__col__image {
            width: 150px;
            height: auto; } }
      .final--bottom__col__text {
        width: 70%; }
        @media screen and (max-width: 768px) {
          .final--bottom__col__text {
            width: 40%; } }

.hero {
  height: 80rem;
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: 80% 20%;
  grid-template-columns: minmax(5rem, 20rem) repeat(12, minmax(auto, 70px)) minmax(5rem, 20rem);
  column-gap: 2rem;
  align-items: center;
  align-content: center; }
  @media screen and (max-width: 768px) {
    .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 150rem; } }
  .hero h1 {
    color: black; }
  .hero__text {
    padding: 8rem 0;
    grid-column: 2 / span 4; }
    .hero__text__title {
      font-size: 3.5rem;
      font-style: normal;
      line-height: 7rem;
      margin-bottom: 50px; }
    .hero__text__subtitle {
      font-size: 2rem;
      margin-bottom: 50px; }
      .hero__text__subtitle--list {
        list-style: none;
        margin: 3rem auto; }
        .hero__text__subtitle--list li {
          display: inline-block; }
        .hero__text__subtitle--list li:not(:last-child) {
          border-right: 2px solid #ff207E;
          padding-right: 1rem; }
    .hero__text__para {
      font-size: 1.4rem;
      width: 100%; }
      @media screen and (max-width: 768px) {
        .hero__text__para {
          display: none; } }
  .hero__image {
    width: 100%;
    height: 100%;
    grid-column: 7 / -2; }
    @media screen and (max-width: 768px) {
      .hero__image {
        width: 50%;
        height: auto; } }
  .hero__brief {
    width: 100%;
    padding: 5rem 0;
    background-color: #dedede;
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: minmax(5rem, 20rem) repeat(12, minmax(auto, 70px)) minmax(5rem, 20rem);
    column-gap: 2rem;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .hero__brief {
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 30px; } }
    @media screen and (max-width: 768px) {
      .hero__brief__item {
        display: flex;
        width: 30%; } }
    .hero__brief__item--title {
      margin-bottom: 15px;
      color: black !important;
      margin-right: 20px; }
    .hero__brief__item-1 {
      grid-column: 2 / span 3; }
    .hero__brief__item-2 {
      grid-column: 5 / span 2; }
    .hero__brief__item-3 {
      grid-column: 7 / span 3; }

.overview {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 1fr));
  column-gap: 2rem;
  justify-items: center;
  margin-top: 65px;
  height: 80rem;
  grid-template-rows: 60% 40%; }
  @media screen and (max-width: 768px) {
    .overview {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-self: center; } }
  @media screen and (max-width: 768px) {
    .overview {
      height: 200rem;
      width: 40%; } }
  .overview__text {
    font-size: 1.8rem; }
  .overview--top {
    grid-column: 3 / 11;
    grid-row: 1 / 2;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .overview--top {
        margin-bottom: 40px; } }
  .overview--bottom {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
    height: 100%; }
    @media screen and (max-width: 768px) {
      .overview--bottom {
        flex-direction: column;
        justify-content: flex-start; } }
    .overview--bottom__text {
      display: block;
      margin: 0 2rem; }
    .overview--bottom__title {
      margin-bottom: 15px; }
    .overview--bottom--problem {
      width: 47%;
      background-color: #f5f5f5;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 1;
      padding: 0 8rem;
      height: 100%; }
      @media screen and (max-width: 768px) {
        .overview--bottom--problem {
          width: 100%;
          height: 40%;
          margin: 40px auto; } }
    .overview--bottom--solution {
      width: 47%;
      background-color: #dedede;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 1;
      padding: 0 8rem; }
      @media screen and (max-width: 768px) {
        .overview--bottom--solution {
          width: 100%;
          height: 40%;
          margin: 40px auto; } }

.persona {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 1fr));
  column-gap: 2rem;
  justify-items: center;
  margin-top: 65px;
  height: 70rem;
  grid-template-rows: 30% 70%; }
  @media screen and (max-width: 768px) {
    .persona {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-self: center; } }
  @media screen and (max-width: 786px) {
    .persona {
      height: 90rem; } }
  .persona--top {
    grid-column: 1 / -1;
    grid-row: 1 / 2; }
  .persona--bottom {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .persona--bottom {
        flex-direction: column;
        align-items: center; } }
    .persona--bottom h3 {
      margin-bottom: 65px;
      text-align: center; }
    .persona--bottom__image {
      width: 47%;
      height: 100%;
      background-color: grey; }
      @media screen and (max-width: 768px) {
        .persona--bottom__image {
          width: 200px;
          height: 200px;
          margin-bottom: 40px; } }
    .persona--bottom__text {
      width: auto;
      height: 100%; }
      .persona--bottom__text__title {
        font-weight: bold;
        font-size: 2.4rem;
        margin-bottom: 50px; }
      .persona--bottom__text__cols {
        display: flex;
        justify-content: space-between; }
        @media screen and (max-width: 768px) {
          .persona--bottom__text__cols {
            flex-direction: column;
            align-items: center; } }
        .persona--bottom__text__cols h4 {
          font-weight: bold;
          font-size: 1.8rem;
          margin-bottom: 15px; }
        .persona--bottom__text__cols--needs {
          width: 45%;
          margin-bottom: 50px; }
        .persona--bottom__text__cols--goals {
          width: 45%;
          margin-bottom: 50px; }

.research {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 1fr));
  column-gap: 2rem;
  justify-items: center;
  margin-top: 65px;
  height: 90rem;
  grid-template-rows: 30% 40% 20%; }
  @media screen and (max-width: 768px) {
    .research {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-self: center; } }
  @media screen and (max-width: 768px) {
    .research {
      height: 140rem; } }
  .research--top {
    grid-column: 3 / 11;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .research--top {
        grid-column: 1 / -1; } }
  .research__text {
    margin-bottom: 65px; }
  .research--middle {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .research--middle {
        flex-direction: column;
        justify-content: center;
        align-content: center; } }
    .research--middle__col {
      background-color: #dedede;
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 4rem; }
      @media screen and (max-width: 768px) {
        .research--middle__col {
          width: 100%;
          margin-bottom: 40px;
          padding: 30px;
          margin: 20px auto; } }
      .research--middle__col__title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 15px;
        color: #fc4c95 !important; }
  .research--bottom {
    margin-top: 65px;
    grid-column: 3 / 11;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .research--bottom {
        display: none; } }
    .research--bottom__title {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 15px; }

.target {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 1fr));
  column-gap: 2rem;
  justify-items: center;
  margin-top: 65px;
  height: 80rem;
  grid-template-rows: 40% 60%; }
  @media screen and (max-width: 768px) {
    .target {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-self: center; } }
  @media screen and (max-width: 768px) {
    .target {
      height: 150rem; } }
  .target__text {
    font-size: 1.8rem;
    margin-bottom: 50px; }
  .target--top {
    grid-column: 3 / 11;
    grid-row: 1 / 2;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media screen and (max-width: 768px) {
      .target--top {
        width: 40%; } }
  .target--bottom {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .target--bottom {
        flex-direction: column;
        justify-content: center; } }
    .target--bottom__text {
      font-size: 1.8rem;
      display: block;
      margin: 0 2rem; }
    .target--bottom__title {
      margin-bottom: 15px; }
    .target--bottom ul {
      list-style-type: square; }
    .target--bottom--tend {
      width: 47%;
      background-color: #dedede;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 1;
      padding: 0 8rem; }
      @media screen and (max-width: 768px) {
        .target--bottom--tend {
          padding: 50px;
          margin: 30px auto; } }
    .target--bottom--frustrated {
      width: 47%;
      background-color: #dedede;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 1;
      padding: 0 8rem; }
      @media screen and (max-width: 768px) {
        .target--bottom--frustrated {
          padding: 50px;
          margin: 30px auto; } }

.usability {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 1fr));
  column-gap: 2rem;
  justify-items: center;
  margin-top: 65px;
  height: 60rem;
  grid-template-rows: 40% 60%; }
  @media screen and (max-width: 768px) {
    .usability {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-self: center; } }
  @media screen and (max-width: 768px) {
    .usability {
      height: 120rem; } }
  .usability__text {
    font-size: 1.8rem; }
  .usability--top {
    grid-column: 3 / 11;
    grid-row: 1 / 2;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .usability--bottom {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .usability--bottom {
        flex-direction: column;
        align-items: center; } }
    .usability--bottom__text {
      display: block;
      margin: 0 2rem; }
    .usability--bottom__title {
      margin-bottom: 15px; }
    .usability--bottom--custom {
      width: 47%;
      background-color: #f5f5f5;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 1;
      padding: 0 8rem; }
      @media screen and (max-width: 768px) {
        .usability--bottom--custom {
          margin-bottom: 40px;
          height: 350px; } }
    .usability--bottom--discover {
      width: 47%;
      background-color: #dedede;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex-shrink: 1;
      padding: 0 8rem; }
      @media screen and (max-width: 768px) {
        .usability--bottom--discover {
          margin-bottom: 40px;
          height: 350px; } }

.main-carousel {
  width: 70%;
  height: 100%;
  margin: 2rem auto; }

.carousel-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px; }

.flickity-button {
  background: #333; }

.flickity-button:hover {
  background: #ff207E; }
  @media only screen and (max-width: 768px) {
    .flickity-button:hover {
      background: unset; } }

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px; }

/* icon color */
.flickity-button-icon {
  fill: white; }

/* position outside */
.flickity-prev-next-button.previous {
  left: -40px; }

.flickity-prev-next-button.next {
  right: -40px; }

.wireframes {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 1fr));
  column-gap: 2rem;
  justify-items: center;
  margin-top: 65px;
  height: 100rem;
  grid-template-rows: 30% 70%;
  justify-items: center;
  margin-bottom: 130px; }
  @media screen and (max-width: 768px) {
    .wireframes {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-self: center; } }
  @media screen and (max-width: 768px) {
    .wireframes {
      height: 120rem; } }
  @media screen and (max-width: 768px) {
    .wireframes__text {
      display: none; } }
  .wireframes--top {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    width: 50%;
    text-align: center;
    margin-bottom: 65px; }
  .wireframes--bottom {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
    width: 100%;
    height: 90%; }
  .wireframes__gallery {
    width: 70%;
    height: 100%; }
    @media screen and (max-width: 768px) {
      .wireframes__gallery {
        width: 50%;
        height: auto; } }

.keypages {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(12, minmax(70px, 1fr));
  column-gap: 2rem;
  justify-items: center;
  margin-top: 65px;
  grid-template-rows: 200px 40% 60%;
  height: 250rem; }
  @media screen and (max-width: 768px) {
    .keypages {
      display: flex;
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-self: center; } }
  .keypages__title {
    grid-column: 1 / -1; }
  .keypages__item {
    width: 100%;
    height: 100%;
    margin-bottom: 8rem;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .keypages__item__title {
      font-size: 2rem; }
    .keypages__item__text {
      width: 80%;
      margin-bottom: 5rem; }
      @media screen and (max-width: 768px) {
        .keypages__item__text {
          width: 40%; } }
    .keypages__item__image {
      width: 80%;
      height: 80%; }
      @media screen and (max-width: 768px) {
        .keypages__item__image {
          width: 40%; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 1000px) {
    html {
      font-size: 50%; } }

body {
  width: 1440px;
  font-size: 1.6rem;
  margin: 0;
  line-height: 3rem; }

h4 {
  font-size: 2.4rem;
  margin-bottom: 15px; }

h2 {
  font-size: 3rem;
  margin-bottom: 50px; }
