#main-title,
#main-description {
  color: black; }

.overview {
  height: 48rem;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 0 !important;
  padding: 0 20rem;
  position: relative; }
  @media only screen and (max-width: 500px) {
    .overview {
      height: 80rem;
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .overview__text {
    padding-top: 10rem;
    height: 100%; }
    @media only screen and (max-width: 900px) {
      .overview__text {
        width: 40%; } }
  @media only screen and (max-width: 900px) and (max-width: 500px) {
    .overview__text {
      width: 100%;
      padding-top: 3rem; } }
    .overview__text p {
      font-size: 1.4rem;
      margin: 2rem auto; }
  .overview__image {
    background-image: url(../img/Meca/Web/hero@1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
    height: 100%;
    position: relative; }
    @media only screen and (max-width: 900px) {
      .overview__image {
        background-image: url(../img/Meca/Mobile/hero@1x.png);
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0; } }
    .overview__image img {
      display: block;
      width: 80%;
      height: auto;
      position: absolute;
      bottom: 0;
      right: 0; }
      @media only screen and (max-width: 1024px) {
        .overview__image img {
          width: 100%; } }
  .overview__spec {
    list-style: none;
    margin: 3rem auto; }
    .overview__spec li {
      display: inline-block; }
    .overview__spec li:not(:last-child) {
      border-right: 2px solid #ff207E;
      padding-right: 1rem; }

.project__brief {
  background-color: #c4c4c4;
  width: 100%;
  height: 20rem;
  padding: 7rem 20rem;
  margin-top: 0;
  margin-bottom: 8rem; }
  @media only screen and (max-width: 1024px) {
    .project__brief {
      padding: 7rem 20rem; } }
  @media only screen and (max-width: 900px) {
    .project__brief {
      padding: 4rem 2rem;
      height: 35rem;
      margin-bottom: 4rem; } }
  .project__brief h4 {
    font-size: 1.7rem; }
  .project__brief p {
    font-size: 1.4rem; }

.impact {
  width: 100%;
  padding: 7rem 20rem;
  margin-bottom: 8rem; }
  @media only screen and (max-width: 1024px) {
    .impact {
      padding: 0 10rem; } }
  @media only screen and (max-width: 900px) {
    .impact {
      height: 120rem;
      padding: 2rem 5rem; } }
  @media only screen and (max-width: 768px) {
    .impact {
      height: 130rem;
      margin-bottom: 4rem; } }
  @media only screen and (max-width: 900px) {
    .impact .general-desc {
      width: 100%; } }
  @media only screen and (max-width: 900px) {
    .impact__col {
      height: 40rem;
      padding: 4rem 4rem; } }

.research {
  margin-top: 8rem !important;
  height: 110rem;
  padding: 7rem 20rem; }
  @media only screen and (max-width: 1024px) {
    .research {
      height: 150rem;
      padding: 5rem 10rem; } }
  @media only screen and (max-width: 900px) {
    .research {
      height: 110rem;
      padding: 3rem 5rem; } }
  .research .row {
    width: 100%;
    padding: 1rem 0;
    margin-bottom: 3rem !important; }
    @media only screen and (max-width: 900px) {
      .research .row {
        display: flex;
        justify-content: space-between; } }
    @media only screen and (max-width: 768px) {
      .research .row {
        margin-bottom: 0 !important; } }
  .research-col {
    background-color: #c4c4c4;
    height: 100%;
    padding: 5rem 4rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 1024px) {
      .research-col {
        height: 25rem;
        padding: 3rem 3rem;
        margin: 3rem 3rem;
        width: 20% !important; } }

.target {
  width: 100%;
  height: 80rem;
  padding: 7rem 20rem; }
  @media only screen and (max-width: 900px) {
    .target {
      height: 130rem;
      padding: 4rem 10rem; } }
  @media only screen and (max-width: 500px) {
    .target {
      height: 140rem;
      padding: 2rem 5rem; } }

.persona {
  height: 80rem;
  font-size: 1.6rem;
  margin-bottom: 12rem;
  width: 100%;
  padding: 5rem 20rem; }
  @media only screen and (max-width: 900px) {
    .persona {
      padding: 4rem 10rem; } }
  @media only screen and (max-width: 700px) {
    .persona {
      padding: 2rem 7rem; } }
  .persona h2 {
    font-size: 3.5rem;
    color: #575757; }
  .persona h4 {
    font-size: 2.5rem;
    margin-bottom: 2rem; }
  .persona__card {
    height: 100%;
    padding: 5rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 4rem;
    justify-items: flex-start;
    width: 100%; }
    .persona__card__info {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap; }
      .persona__card__info img {
        display: block;
        height: 100%;
        width: 90%;
        margin-right: 3rem; }
    .persona__card__name {
      width: 100%; }

.process {
  height: 140rem;
  margin-bottom: 8rem;
  margin-top: 8rem !important;
  padding: 0 20rem; }
  @media only screen and (max-width: 1024px) {
    .process {
      height: 100rem;
      padding: 5rem 10rem; } }
  @media only screen and (max-width: 900px) {
    .process {
      padding: 3rem 7rem;
      height: 160rem; } }
  @media only screen and (max-width: 768px) {
    .process {
      padding: 2rem 2rem;
      margin-bottom: 0;
      height: 140rem; } }
  .process img {
    display: block;
    width: 80%;
    height: auto;
    margin: 5rem auto; }
  .process__sketch {
    height: 50rem; }
    @media only screen and (max-width: 900px) {
      .process__sketch {
        height: 100rem;
        padding: 4rem 10rem; } }
    @media only screen and (max-width: 700px) {
      .process__sketch {
        padding: 2rem 5rem; } }
  .process__sketch__image {
    height: 40rem; }
    .process__sketch__image img {
      height: 100%; }
  .process__quote {
    background-color: #ADEBEB;
    height: 20rem;
    text-align: left;
    font-weight: 600;
    font-size: 2.5rem;
    width: 100%;
    padding: 1rem 5rem;
    margin-bottom: 8rem;
    display: none; }
    @media only screen and (max-width: 768px) {
      .process__quote {
        display: block; } }
    .process__quote blockquote {
      line-height: 145%;
      padding: 2%;
      margin-top: 40px;
      position: relative; }
    .process__quote blockquote::before {
      content: "\201C";
      display: block;
      position: absolute;
      left: -5px;
      top: -5px; }
    .process__quote cite {
      font-size: 1.2rem; }

.engage {
  height: 110rem;
  margin-bottom: 8rem;
  width: 100%;
  padding: 7rem 20rem;
  position: relative; }
  @media only screen and (max-width: 1024px) {
    .engage {
      padding: 5rem 10rem; } }
  @media only screen and (max-width: 1000px) {
    .engage {
      padding: 3rem 7rem;
      height: 80rem; } }
  @media only screen and (max-width: 768px) {
    .engage {
      height: 70rem;
      padding: 2rem 5rem; } }
  @media only screen and (max-width: 500px) {
    .engage {
      height: 50rem; } }
  .engage h5 {
    color: #ff207E;
    font-size: 3rem;
    margin-bottom: 8rem; }
  .engage__image {
    width: 80%; }
    .engage__image img {
      display: block;
      width: 80%;
      height: auto;
      position: absolute;
      bottom: 4rem; }

.wireframes {
  width: 100%;
  padding: 0 20rem; }
  @media only screen and (max-width: 1024px) {
    .wireframes {
      padding: 0 10rem; } }
  @media only screen and (max-width: 900px) {
    .wireframes {
      padding: 0 5rem; } }
  @media only screen and (max-width: 768px) {
    .wireframes {
      padding: 0 3rem; } }
  .wireframes h4 {
    font-size: 3.5rem;
    margin-bottom: 8rem; }
  .wireframes__image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 8rem; }

.iterations {
  width: 100%;
  padding: 0 20rem;
  margin-bottom: 8rem; }
  @media only screen and (max-width: 1024px) {
    .iterations {
      padding: 0 10rem; } }
  @media only screen and (max-width: 900px) {
    .iterations {
      padding: 0 5rem; } }
  @media only screen and (max-width: 768px) {
    .iterations {
      padding: 0 3rem; } }
  .iterations h4 {
    font-size: 3.5rem;
    margin-bottom: 4rem; }
  .iterations h6 {
    font-size: 2.5rem;
    margin-bottom: 6rem; }
  .iterations__task {
    height: 50rem; }

.architecture {
  width: 100%;
  padding: 0 20rem;
  margin-bottom: 8rem; }
  @media only screen and (max-width: 1024px) {
    .architecture {
      padding: 0 10rem; } }
  @media only screen and (max-width: 900px) {
    .architecture {
      padding: 0 5rem; } }
  @media only screen and (max-width: 768px) {
    .architecture {
      padding: 0 3rem; } }
  .architecture h4 {
    font-size: 3.5rem;
    margin-bottom: 4rem; }
  .architecture img {
    display: block;
    width: 100%;
    height: auto;
    margin: 8rem auto; }

.final {
  width: 100%;
  padding: 7rem 20rem;
  height: 50rem;
  margin-bottom: 8rem;
  background-color: #c4c4c4; }
  @media only screen and (max-width: 1024px) {
    .final {
      padding: 5rem 10rem; } }
  @media only screen and (max-width: 900px) {
    .final {
      padding: 3rem 5rem; } }
  @media only screen and (max-width: 768px) {
    .final {
      padding: 2rem 3rem; } }
  .final h6 {
    font-size: 2rem;
    margin-bottom: 6rem; }
  .final__text {
    font-size: 2rem;
    width: 70%;
    text-align: left;
    margin: 0 auto; }

.functions {
  width: 100%;
  padding: 5rem 20rem;
  color: #575757;
  margin-bottom: 8rem; }
  @media only screen and (max-width: 1024px) {
    .functions {
      padding: 0 10rem; } }
  @media only screen and (max-width: 900px) {
    .functions {
      padding: 0 5rem;
      height: 150rem; } }
  @media only screen and (max-width: 768px) {
    .functions {
      padding: 0 3rem; } }
  .functions h4 {
    color: #575757;
    font-size: 3.5rem;
    margin-bottom: 8rem;
    text-align: center; }
  .functions h6 {
    font-size: 2.5rem;
    margin: 2rem auto; }
  .functions p {
    font-size: 1.6rem;
    text-align: left; }
    @media only screen and (max-width: 900px) {
      .functions p {
        width: 50%; } }
  .functions .col-1-of-3 {
    padding: 1rem 5rem;
    margin-bottom: 8rem !important; }
    @media only screen and (max-width: 900px) {
      .functions .col-1-of-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem 2rem; } }

.steps {
  height: 220rem;
  width: 100%;
  padding: 0 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem; }
  @media only screen and (max-width: 1024px) {
    .steps {
      padding: 0 10rem; } }
  @media only screen and (max-width: 900px) {
    .steps {
      padding: 0 5rem;
      height: 140rem; } }
  @media only screen and (max-width: 768px) {
    .steps {
      padding: 0 3rem; } }
  .steps__compo {
    width: 80%;
    height: 70rem;
    display: flex;
    align-items: center;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 900px) {
      .steps__compo {
        height: 40rem;
        margin-bottom: 3rem; } }
    .steps__compo__image {
      width: 40%;
      height: 100%;
      margin-right: 6rem; }
      .steps__compo__image img {
        display: block;
        width: 100%;
        height: auto; }
    .steps__compo__text {
      width: 50%; }
      .steps__compo__text-header {
        font-size: 4rem; }
        @media only screen and (max-width: 900px) {
          .steps__compo__text-header {
            font-size: 2.5rem; } }
      .steps__compo__text-para {
        font-size: 2rem; }
        @media only screen and (max-width: 900px) {
          .steps__compo__text-para {
            font-size: 1.6rem; } }

.app-details {
  background-color: #f5f5f5;
  height: 250rem;
  width: 100%;
  padding: 15rem 20rem 5rem 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem; }
  @media only screen and (max-width: 1024px) {
    .app-details {
      padding: 0 10rem; } }
  @media only screen and (max-width: 900px) {
    .app-details {
      padding: 0 5rem;
      height: 280rem; } }
  @media only screen and (max-width: 768px) {
    .app-details {
      padding: 0 3rem; } }
  .app-details__compo {
    width: 80%;
    height: 70rem;
    display: flex;
    align-items: flex-end;
    margin-bottom: 7rem; }
    @media only screen and (max-width: 900px) {
      .app-details__compo {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 80rem; } }
    .app-details__compo__image {
      width: 40%;
      height: 100%;
      margin-right: 4rem; }
      .app-details__compo__image img {
        display: block;
        width: 100%;
        height: auto; }
    .app-details__compo__text {
      width: 40%;
      margin: 0 5rem; }
      @media only screen and (max-width: 900px) {
        .app-details__compo__text {
          width: 80%; } }
      .app-details__compo__text-header {
        font-size: 3.5rem;
        font-weight: bold;
        margin-bottom: 2rem;
        margin-top: 5rem; }
      .app-details__compo__text-para {
        font-size: 2rem;
        font-weight: normal;
        margin-bottom: 3rem; }
  @media only screen and (max-width: 426px) {
    .app-details__first-col {
      height: 60rem; } }

.user-flow {
  height: 170rem;
  width: 100%;
  padding: 15rem 20rem 5rem 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8rem; }
  @media only screen and (max-width: 1024px) {
    .user-flow {
      padding: 0 10rem; } }
  @media only screen and (max-width: 900px) {
    .user-flow {
      padding: 0 5rem;
      height: 90rem; } }
  @media only screen and (max-width: 768px) {
    .user-flow {
      padding: 0 3rem; } }

.conclusion {
  background-color: #f5f5f5;
  width: 100%;
  height: 70rem;
  padding: 20rem 20rem; }
  @media only screen and (max-width: 1024px) {
    .conclusion {
      padding: 5rem 10rem; } }
  @media only screen and (max-width: 900px) {
    .conclusion {
      padding: 5rem 5rem;
      height: 50rem; } }
  @media only screen and (max-width: 768px) {
    .conclusion {
      padding: 4rem 3rem; } }
  .conclusion h2 {
    color: #ff207E;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 8rem;
    text-align: center; }
  .conclusion__text h4 {
    display: block;
    color: #181818;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 4rem; }
  .conclusion__text p {
    font-size: 2rem;
    margin-bottom: 2rem; }

.row {
  max-width: 144rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media only screen and (max-width: 1024px) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  @media only screen and (max-width: 1024px) {
    .row {
      max-width: 104rem; } }
  @media only screen and (max-width: 900px) {
    .row {
      max-width: 92rem; } }
  @media only screen and (max-width: 768px) {
    .row {
      max-width: 80rem; } }
  @media only screen and (max-width: 425px) {
    .row {
      max-width: 52rem; } }
  @media only screen and (max-width: 320px) {
    .row {
      max-width: 30rem;
      padding: 0 1rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }

.main-carousel {
  width: 50%;
  height: 100%;
  margin: 2rem auto; }
  @media only screen and (max-width: 900px) {
    .main-carousel {
      width: 100%; } }

.carousel-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px; }

.flickity-button {
  background: #333; }

.flickity-button:hover {
  background: #ff207E; }
  @media only screen and (max-width: 768px) {
    .flickity-button:hover {
      background: unset; } }

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px; }

/* icon color */
.flickity-button-icon {
  fill: white; }

/* position outside */
.flickity-prev-next-button.previous {
  left: -40px; }

.flickity-prev-next-button.next {
  right: -40px; }

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%; }
  @media only screen and (max-width: 1023px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 767px) {
    html {
      font-size: 50%; } }

.footer {
  background-color: #fc4c95;
  height: 15rem;
  padding: 3rem 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 1024px) {
    .footer {
      padding: 3rem 10rem; } }
  @media only screen and (max-width: 900px) {
    .footer {
      padding: 3rem 7rem; } }
  @media only screen and (max-width: 768px) {
    .footer {
      padding: 3rem 5rem; } }
  .footer__email {
    margin-bottom: 2rem; }
    .footer__email__link {
      text-decoration: none;
      color: #181818;
      font-size: 2rem;
      font-style: normal; }
      @media only screen and (max-width: 768px) {
        .footer__email__link {
          font-size: 1.4rem; } }
  .footer__social {
    width: 20%;
    display: flex;
    justify-content: space-between; }
    .footer__social__icon {
      display: block;
      width: 2rem;
      height: 2rem;
      color: #787878; }
      @media only screen and (max-width: 768px) {
        .footer__social__icon {
          transform: scale(0.7); } }
    .footer__social__link {
      color: #787878; }

.header {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  height: 13rem;
  font-weight: bold;
  font-size: 1.4rem;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 20rem;
  width: 100%; }
  @media only screen and (max-width: 1024px) {
    .header {
      padding: 3rem 10rem; } }
  @media only screen and (max-width: 900px) {
    .header {
      padding: 3rem 7rem; } }
  @media only screen and (max-width: 768px) {
    .header {
      padding: 2rem 5rem; } }
  .header__logo {
    height: 40px;
    width: 68px;
    float: left; }
    .header__logo img {
      display: block;
      width: 100%;
      height: 100%; }
  .header__menu {
    width: 20%;
    float: right; }
    @media only screen and (max-width: 500px) {
      .header__menu {
        width: 40%; } }
    .header__menu__list {
      list-style: none;
      display: flex;
      justify-content: space-between; }
      .header__menu__list__item {
        display: inline-block; }
    .header__menu__link {
      color: #070707;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block; }
    .header__menu__link:visited {
      color: #070707; }
    .header__menu__link:active {
      color: #ff207E; }
    .header__menu__link:hover {
      color: #ff207E; }

@media only screen and (max-width: 900px) {
  .reversed-col {
    flex-direction: column-reverse; } }

@media only screen and (max-width: 900px) {
  .long-col {
    height: 100rem; } }

.centered {
  text-align: center !important; }

@media only screen and (max-width: 900px) {
  .media {
    display: none !important; } }

.image {
  width: 100%; }

.general {
  padding: 5rem 20rem;
  text-align: center;
  height: 70rem; }
  @media only screen and (max-width: 1024px) {
    .general {
      padding: 0 10rem; } }
  @media only screen and (max-width: 900px) {
    .general {
      padding: 0 5rem; } }
  @media only screen and (max-width: 768px) {
    .general {
      padding: 0 3rem; } }
  .general h2 {
    color: #ff207E;
    margin: 4rem auto;
    font-size: 4.5rem; }
  .general h4 {
    color: #575757;
    font-size: 3.5rem;
    margin: 2rem auto; }
  .general h6 {
    font-size: 2.5rem;
    margin: 2rem auto; }
  .general-desc {
    font-size: 1.9rem;
    margin: 8rem auto;
    line-height: 27px;
    text-align: left; }
  .general-col-dark {
    background-color: #aaaaaa;
    padding: 7rem;
    text-align: left;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 1024px) {
      .general-col-dark {
        height: 40rem;
        padding: 4rem; } }
    .general-col-dark h4 {
      margin-bottom: 2rem; }
  .general-col-light {
    background-color: #c4c4c4;
    padding: 7rem;
    text-align: left;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    @media only screen and (max-width: 1024px) {
      .general-col-light {
        padding: 4rem;
        height: 40rem; } }
    .general-col-light h4 {
      margin-bottom: 2rem; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 1023px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 767px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 500px) {
    html {
      font-size: 45%; } }

body {
  width: 100%;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.main__container {
  position: relative;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 1023px) {
    .main__container {
      width: 100%; } }

h1, h2, h3 {
  color: #ff207E;
  margin-bottom: 2rem; }
