#main-title,
#main-description {
  color: black; }

.centered {
  text-align: center !important; }

.general {
  padding: 7rem 20rem;
  text-align: center;
  height: 70rem; }
  .general h2 {
    color: #ff207E;
    margin: 4rem auto;
    font-size: 4.5rem; }
  .general h4 {
    color: #575757;
    font-size: 3.5rem;
    margin: 2rem auto; }
  .general h6 {
    font-size: 2.5rem;
    margin: 2rem auto; }
  .general-desc {
    font-size: 1.9rem;
    margin: 8rem auto;
    line-height: 27px;
    text-align: left; }
  .general-col-dark {
    background-color: #aaaaaa;
    padding: 7rem;
    text-align: left;
    height: 30rem; }
  .general-col-light {
    background-color: #c4c4c4;
    padding: 7rem;
    text-align: left;
    height: 30rem; }

.overview {
  height: 60rem;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 0 !important;
  padding: 0 20rem; }
  .overview__spec {
    list-style: none;
    margin: 3rem auto; }
    .overview__spec li {
      display: inline-block; }
    .overview__spec li:not(:last-child) {
      border-right: 2px solid #ff207E;
      padding-right: 1rem; }
  .overview__text {
    padding-top: 20rem;
    height: 100%; }
    .overview__text p {
      font-size: 1.6rem;
      margin: 4rem auto; }
  .overview__image {
    height: 100%;
    position: relative; }
  .overview__img-1 {
    position: absolute;
    bottom: 0;
    left: 2rem; }
  .overview__img-2 {
    position: absolute;
    top: 0;
    right: 2rem; }

.project__brief {
  background-color: #c4c4c4;
  width: 100%;
  padding: 7rem 20rem;
  margin-top: 0; }
  .project__brief h4 {
    font-size: 1.7rem; }
  .project__brief p {
    font-size: 1.4rem; }

.research {
  height: 100rem; }
  .research-col {
    background-color: #c4c4c4;
    height: 30rem;
    padding: 7rem 4rem; }

.persona {
  height: 70rem;
  font-size: 1.6rem;
  margin-bottom: 12rem;
  width: 100%;
  padding: 5rem 20rem; }
  .persona h2 {
    font-size: 3.5rem;
    color: #575757; }
  .persona h4 {
    font-size: 2.5rem;
    margin-bottom: 2rem; }
  .persona__card {
    height: 100%;
    padding: 5rem;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 4rem;
    justify-items: flex-start; }
    .persona__card__info {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap; }
      .persona__card__info img {
        display: block;
        height: 100%;
        width: 90%;
        margin-right: 3rem; }
    .persona__card__name {
      width: 100%; }

.process {
  height: 140rem;
  margin-bottom: 8rem;
  padding: 0 20rem; }
  .process img {
    display: block;
    width: 80%;
    height: auto;
    margin: 5rem auto; }
  .process__sketch {
    height: 50rem; }
  .process__sketch__image {
    height: 40rem; }
    .process__sketch__image img {
      height: 100%; }

.engage {
  height: 60rem;
  background-color: orange;
  margin-bottom: 8rem; }
  .engage h5 {
    color: #ff207E;
    font-size: 3rem; }

.wireframes {
  width: 100%;
  padding: 0 20rem; }
  .wireframes h4 {
    font-size: 3.5rem;
    margin-bottom: 8rem; }
  .wireframes__image {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 8rem; }

.iterations {
  width: 100%;
  padding: 0 20rem;
  margin-bottom: 8rem; }
  .iterations h4 {
    font-size: 3.5rem;
    margin-bottom: 4rem; }
  .iterations h6 {
    font-size: 2.5rem;
    margin-bottom: 6rem; }
  .iterations__task {
    height: 50rem; }

.architecture {
  width: 100%;
  padding: 0 20rem;
  margin-bottom: 8rem; }
  .architecture h4 {
    font-size: 3.5rem;
    margin-bottom: 4rem; }
  .architecture img {
    display: block;
    width: 100%;
    height: auto;
    margin: 8rem auto; }

.final {
  width: 100%;
  padding: 5rem 20rem;
  height: 50rem;
  margin-bottom: 8rem;
  background-color: #c4c4c4; }
  .final h6 {
    font-size: 2rem;
    margin-bottom: 6rem; }
  .final__text {
    font-size: 2rem;
    width: 70%;
    text-align: left;
    margin: 0 auto; }

.functions {
  width: 100%;
  padding: 5rem 20rem;
  color: #575757; }
  .functions p {
    font-size: 1.6rem;
    text-align: left; }

.row {
  max-width: 144rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 4rem; } }
  .row:last-child {
    margin-bottom: 8rem; }
  .row:first-of-type {
    margin-top: 8rem; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 4rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2 * 2rem) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem); }

@media screen and (min-width: 1200px) {
  .col-desk-1 {
    width: calc((1/12) * 100%); }
  .col-desk-2 {
    width: calc((2/12) * 100%); }
  .col-desk-3 {
    width: calc((3/12) * 100%); }
  .col-desk-4 {
    width: calc((4/12) * 100%); }
  .col-desk-5 {
    width: calc((5/12) * 100%); }
  .col-desk-6 {
    width: calc((6/12) * 100%); }
  .col-desk-7 {
    width: calc((7/12) * 100%); }
  .col-desk-8 {
    width: calc((8/12) * 100%); }
  .col-desk-9 {
    width: calc((9/12) * 100%); }
  .col-desk-10 {
    width: calc((10/12) * 100%); }
  .col-desk-11 {
    width: calc((11/12) * 100%); }
  .col-desk-12 {
    width: calc((12/12) * 100%); } }

@media screen and (max-width: 600px) {
  .col-mob-1 {
    width: calc((1/6) * 100%); }
  .col-mob-2 {
    width: calc((2/6) * 100%); }
  .col-mob-3 {
    width: calc((3/6) * 100%); }
  .col-mob-4 {
    width: calc((4/6) * 100%); }
  .col-mob-5 {
    width: calc((5/6) * 100%); }
  .col-mob-6 {
    width: calc((6/6) * 100%); } }

.main-carousel {
  width: 40vw;
  height: 60rem;
  margin: 2rem auto; }

.carousel-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px; }

.flickity-button {
  background: #333; }

.flickity-button:hover {
  background: #ff207E; }

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 5px; }

/* icon color */
.flickity-button-icon {
  fill: white; }

/* position outside */
.flickity-prev-next-button.previous {
  left: -40px; }

.flickity-prev-next-button.next {
  right: -40px; }

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%; }
  @media only screen and (max-width: 1023px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 767px) {
    html {
      font-size: 50%; } }

.footer {
  background-color: #fc4c95;
  height: 15rem;
  padding: 3rem 20rem;
  width: 100%; }
  .footer__email {
    margin-bottom: 2rem; }
    .footer__email__link {
      text-decoration: none;
      color: #181818;
      font-size: 2rem;
      font-style: normal; }
      @media only screen and (max-width: 768px) {
        .footer__email__link {
          font-size: 1.4rem; } }
  .footer__social {
    width: 20%;
    display: flex;
    justify-content: space-between; }
    .footer__social__icon {
      display: block;
      width: 2rem;
      height: 2rem;
      color: #787878; }
      @media only screen and (max-width: 400px) {
        .footer__social__icon {
          transform: scale(0.7); } }
    .footer__social__link {
      color: #787878; }

.header {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  height: 13rem;
  font-weight: bold;
  font-size: 1.4rem;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 20rem;
  width: 100%; }
  .header__logo {
    height: 40px;
    width: 68px;
    float: left; }
    .header__logo img {
      display: block;
      width: 100%;
      height: 100%; }
  .header__menu {
    width: 20%;
    float: right; }
    .header__menu__list {
      list-style: none;
      display: flex;
      justify-content: space-between; }
      .header__menu__list__item {
        display: inline-block; }
    .header__menu__link {
      color: #070707;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block; }
    .header__menu__link:visited {
      color: #070707; }
    .header__menu__link:active {
      color: #ff207E; }
    .header__menu__link:hover {
      color: #ff207E; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%; }
  @media only screen and (max-width: 1023px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 767px) {
    html {
      font-size: 50%; } }

body {
  width: 100%;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  align-items: center; }

.main__container {
  position: relative;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (max-width: 1023px) {
    .main__container {
      width: 100%; } }

h1, h2, h3 {
  color: #ff207E;
  margin-bottom: 2rem; }
