.footer {
  background-color: $color-grey-6;
	height: 100%;
	width: 100%;
	grid-row: 4 / 5;
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: 20rem repeat(12, 1fr) 20rem;
	align-items: center;

	&__email {
		grid-column: 2 / 3;
		margin-left: 2rem;

		&__link {
			text-decoration: none;
			color: #181818;
			font-size: 2rem;
			font-style: normal;
		}
	}

	&__social {
		grid-column: 11 / 14;
		margin-right: 2rem;
		display: flex;
		justify-content: space-between;

		&__icon {
			display: block;
			width: 6rem;
			height: 6rem;
			color:$color-grey-2;
		}

		&__link {
			color:$color-grey-2;
		}
	}

}