.portfolio {
	height: 70vh;
	width: 100%;
	margin-bottom: 15rem;
	grid-column: 2 / 14;
	grid-row: 3 / 4;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 2rem;
	grid-template-rows: repeat(2, 1fr);
	overflow: hidden;

	@media only screen and (max-width: 1023px) {
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(3, 1fr);
		height: 130rem;
	}

	@media only screen and (max-width: 767px) {
		// grid-template-columns: repeat(6, 1fr);
		// grid-template-rows: repeat(6, 1fr);
		grid-column: 2 / 8;
		height: 252rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 8rem;
	
	}

	&__proj {
		width: 100%;
		height: 100%;
		border: 1px solid $color-grey-3;
		border-radius: 3px;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		transition: all .5s;

		@media only screen and (max-width: 767px) {
			height: 40rem;
			margin: 2rem;
		}

		
		&:hover {
			transform: scale(1.05);

			@media only screen and (max-width: 1023px) {
				transform: none;
			}
		}
		
		
		&__image {
			background-repeat: no-repeat;
			background-position: bottom;
			width: 33%;
			height: 100%;
			position: absolute;
			left: 5%;
		
		}

		&__title {
			display: block;
			font-weight: bold;
			font-size: 1.8rem;
			line-height: 3rem;
			position: absolute;
			top: 20%;
			left: 45%;
		
		}

		&__subtitle {
			display: block;
			font-weight: normal;
			font-size: 1rem;
			line-height: 1.6rem;
			position: absolute;
			top: 35%;
			left: 45%;
			
		}

		&__description {
			font-weight: 600;
			font-size: 1.6rem;
			line-height: 2.5rem;
			position: absolute;
			margin: 15% 10%;
			display: none;
			
		}
	}
}

.hovered {
	filter: opacity(.15);
}



// === CARDS POSITONS AND IMAGES=== //
#proj-1__img {
	background-image: url('../img/meca.png');
}
#project1 {
	grid-column: 1 / 5;
	grid-row: 1 / 2;

	@media only screen and (max-width: 1023px) {

	}
	// @media only screen and (max-width: 767px) {
	// 	grid-column: 1 / -1;
	// }
}

#project2 {
	background-color: $color-grey-4;
	grid-column: 5 / 9;
	grid-row: 1 / 2;

	@media only screen and (max-width: 1023px) {
		
	}
	// @media only screen and (max-width: 767px) {
	// 	grid-column: 1 / -1;
	// 	grid-row: 2 / 3;
	// }
}

#project3 {
	background-color: $color-grey-4;
	grid-column: 9 / 13;
	grid-row: 1 / 2;

	@media only screen and (max-width: 1023px) {
		grid-column: 1 / 5;
	  grid-row: 2 / 3;
	}
	// @media only screen and (max-width: 767px) {
	// 	grid-column: 1 / -1;
	// 	grid-row: 3 / 4;
	// }
}

#project4 {
	background-color: $color-grey-4;
	grid-column: 1 / 5;
	grid-row: 2 / 3;

	@media only screen and (max-width: 1023px) {
		grid-column: 5 / 9;
	  
	}
	// @media only screen and (max-width: 767px) {
	// 	grid-column: 1 / -1;
	// 	grid-row: 4 / 5;
	// }
}

#project5 {
	background-color: $color-grey-4;
	grid-column: 5 / 9;
	grid-row: 2 / 3;

	@media only screen and (max-width: 1023px) {
		grid-column: 1 / 5;
		grid-row: 3 / 4;
	}
	// @media only screen and (max-width: 767px) {
	// 	grid-column: 1 / -1;
	// 	grid-row: 5 / 6;
	// }
}

#project6 {
	background-color: $color-grey-4;
	grid-column: 9 / 13;
	grid-row: 2 / 3;

	@media only screen and (max-width: 1023px) {
		grid-column: 5 / 9;
		grid-row: 3 / 4;
	}
	// @media only screen and (max-width: 767px) {
	// 	grid-column: 1 / -1;
	// 	grid-row: 6 / 7;
	// }
}


