.header {
	box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	background-color: white;
	position: sticky;
	top: 0;
	left: 0;
	height: 13rem;
	width: 100%;
	font-weight: bold;
	font-size: 1.4rem;
	z-index: 10;

	@include layoutColPattern;
	grid-template-rows: 1fr;
	align-items: center;
	

	&__logo {
		height: 40px;
		width: 70px;
		grid-row: 1 / 2;
		grid-column: 2 / 3;
		justify-self: start;

		@media screen and (max-width: 768px) {
			height: 20px;
			width: 30px;
		}

	

		& img {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	
	&__menu {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		justify-self: end;
		width: 20%;
		display: flex;
		justify-content: space-between;
				

		&__link {
			color: $color-black;
			text-decoration: none;
			text-transform: uppercase;
			display: block;

		}
		&__link:visited {
			color: $color-black;
		}
		&__link:active {
			color: $color-pink-1;
		}
		&__link:hover {
			color: $color-pink-1;
		}
	}
}