*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  display: flex;
  flex-direction: column;
  align-items: center; }

body {
  width: 1440px; }
  @media only screen and (min-width: 1024px) {
    body {
      width: 100%; } }
  @media only screen and (max-width: 1023px) {
    body {
      width: 100%; } }
  @media only screen and (max-width: 767px) {
    body {
      width: 100%; } }

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%; }
  @media only screen and (max-width: 1023px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 767px) {
    html {
      font-size: 50%; } }

.footer {
  background-color: #f5f5f5;
  height: 100%;
  width: 100%;
  grid-row: 4 / 5;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 20rem repeat(12, 1fr) 20rem;
  align-items: center; }
  @media only screen and (max-width: 1023px) {
    .footer {
      grid-template-columns: 5rem repeat(12, 1fr) 5rem;
      grid-column-gap: 2rem; } }
  @media only screen and (max-width: 767px) {
    .footer {
      grid-template-columns: 5rem repeat(6, 1fr) 5rem;
      grid-column-gap: 1rem;
      grid-column: 1 / -1; } }
  .footer__email {
    grid-column: 2 / 3;
    margin-left: 2rem; }
    .footer__email__link {
      text-decoration: none;
      color: #181818;
      font-size: 2rem;
      font-style: normal; }
  .footer__social {
    grid-column: 12 / span 2;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 767px) {
      .footer__social {
        grid-column: 6 / 8; } }
    .footer__social__icon {
      display: block;
      width: 4rem;
      height: 4rem;
      color: #787878; }
    .footer__social__link {
      color: #787878; }

.header {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: white;
  position: sticky;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 1.4rem;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 20rem repeat(12, 1fr) 20rem;
  grid-column-gap: 2rem;
  align-items: center;
  z-index: 10; }
  @media only screen and (max-width: 1023px) {
    .header {
      grid-template-columns: 5rem repeat(12, 1fr) 5rem;
      grid-column-gap: 2rem; } }
  @media only screen and (max-width: 767px) {
    .header {
      grid-template-columns: 5rem repeat(6, 1fr) 5rem;
      grid-column-gap: 1rem;
      font-size: 1.2rem;
      grid-column: 1 / -1; } }
  .header__logo {
    height: 40px;
    width: 68px;
    grid-column: 2 / 3; }
    .header__logo img {
      display: block;
      width: 100%;
      height: 100%; }
  .header__menu {
    grid-column: 12 / 14;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 767px) {
      .header__menu {
        grid-column: 7 / 8; } }
    .header__menu__link {
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block; }
    .header__menu__link:visited {
      color: #070707; }
    .header__menu__link:active {
      color: #ff207E; }
    .header__menu__link:hover {
      color: #ff207E; }

.intro {
  width: 100%;
  grid-column: 3 / 14;
  grid-row: 2 / 3; }
  .intro__name {
    font-family: 'Manrope', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    letter-spacing: 4px;
    font-weight: 700;
    color: #575757; }
  .intro__title {
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.6rem;
    color: #aaaaaa;
    display: flex; }
    .intro__title p {
      display: inline-block; }
    .intro__title p:first-child {
      border-right: 2px solid #ff207E;
      padding-right: 1rem; }
    .intro__title p:last-child {
      padding-left: 1rem; }
  .intro__description {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 4.8rem;
    color: #070707;
    margin-top: 50px;
    white-space: nowrap; }
    @media only screen and (max-width: 1023px) {
      .intro__description {
        font-size: 3rem; } }
    @media only screen and (max-width: 767px) {
      .intro__description {
        font-size: 2rem;
        white-space: unset; } }

.portfolio {
  width: 100%;
  margin-bottom: 15rem;
  grid-column: 2 / 14;
  grid-row: 3 / 4;
  display: grid;
  grid-gap: 2rem;
  overflow: hidden;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 130rem; }
  @media only screen and (max-width: 767px) {
    .portfolio {
      height: 252rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 8rem; } }
  .portfolio__proj {
    width: 100%;
    height: 100%;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all .5s; }
    @media only screen and (max-width: 767px) {
      .portfolio__proj {
        height: 40rem;
        margin: 2rem; } }
    .portfolio__proj:hover {
      transform: scale(1.05); }
      @media only screen and (max-width: 1023px) {
        .portfolio__proj:hover {
          transform: none; } }
    .portfolio__proj__image {
      background-repeat: no-repeat;
      background-position: bottom;
      width: 33%;
      height: 100%;
      position: absolute;
      left: 5%; }
    .portfolio__proj__title {
      display: block;
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 3rem;
      position: absolute;
      top: 20%;
      left: 45%; }
    .portfolio__proj__subtitle {
      display: block;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.6rem;
      position: absolute;
      top: 35%;
      left: 45%; }
    .portfolio__proj__description {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.5rem;
      position: absolute;
      margin: 15% 10%;
      display: none; }

.hovered {
  filter: opacity(0.15); }

#proj-1__img {
  background-image: url("../img/meca.png"); }

#project1 {
  grid-column: 1 / 5;
  grid-row: 1 / 2; }

#project2 {
  background-color: #c4c4c4;
  grid-column: 5 / 9;
  grid-row: 1 / 2; }

#project3 {
  background-color: #c4c4c4;
  grid-column: 9 / 13;
  grid-row: 1 / 2;
  grid-column: 1 / 5;
  grid-row: 2 / 3; }

#project4 {
  background-color: #c4c4c4;
  grid-column: 1 / 5;
  grid-row: 2 / 3;
  grid-column: 5 / 9; }

#project5 {
  background-color: #c4c4c4;
  grid-column: 5 / 9;
  grid-row: 2 / 3;
  grid-column: 1 / 5;
  grid-row: 3 / 4; }

#project6 {
  background-color: #c4c4c4;
  grid-column: 9 / 13;
  grid-row: 2 / 3;
  grid-column: 5 / 9;
  grid-row: 3 / 4; }

.main__container {
  width: 100%;
  display: grid;
  grid-template-columns: 20rem repeat(12, 1fr) 20rem;
  grid-column-gap: 2rem;
  grid-template-rows: 10rem 40rem 1fr 20rem;
  align-items: center;
  position: relative; }
  @media only screen and (max-width: 1023px) {
    .main__container {
      grid-template-columns: 5rem repeat(12, 1fr) 5rem;
      grid-column-gap: 2rem; } }
